@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #0e0d0df1;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  height: 100%;
  min-height: 95vh;
  background-image: linear-gradient(#042326,#0A3A40,#0F5959,#1D7373,#107361);
  font-family: Arial, Helvetica, sans-serif;
}
